# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws

# Android
android/.gradle/
android/captures/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/

# iOS
ios/Flutter/.last_build_id
ios/Pods/

# macOS/Windows/Linux
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Misc
.DS_Store
*.log
